@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WatchShop_ASPNETCOREMVC.ViewModels
@model IndexViewModel

<style>
    .glyphicon {
        display: inline-block;
        padding: 0 5px;
    }

    .glyphicon-chevron-right:after {
        content: "\00BB";
    }

    .glyphicon-chevron-left:before {
        content: "\00AB";
    }
</style>

<h1>All Watches</h1>

<table class="table">
    <h2>List of watches</h2>
    <form method="get">
        <label>Name: </label><span> </span>
        <input name="name" value="@Model.FilterViewModel.SelectedName" />
        <span> </span><label>Company:</label><span> </span>
        <select name="company" asp-items="Model.FilterViewModel.Companies"></select>
        <span> </span>
        <input type="submit" class="btn btn-primary" value="Filter" />
    </form>

    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PriceSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Price</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CompanyNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Company</a>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wat in Model.Watches)
        {
            <tr>
                <td><img decoding="async" src="@("~/image/"+@wat.ImageName)" asp-append-version="true" width="150px" height="150px" /></td>
                <td><p>@wat.Name</p></td>
                <td><p>@wat.Price.ToString() UAH</p></td>
                <td><p>@wat.CompanyName</p></td>
                <td><a href="Shop/Edit/@wat.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedCompany)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="glyphicon glyphicon-chevron-left">
            Previous
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedCompany)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="glyphicon glyphicon-chevron-right">
            Next
        </a>
    }
</p>